* * * * * root /usr/bin/flock -n lock_file -c "/usr/bin/rsync -e 'ssh -i /root/.ssh/{{ raspicam_name }}-id_rsa' -av {{ raspicam_default_dir }} {{ raspicam_offsite_image_copy_ssh_login }}@{{ hostvars[groups['webservers'][0]].groups.webservers[0] }}:/; /usr/bin/rsync -e 'ssh -i /root/.ssh/{{ raspicam_name }}-sfpg-id_rsa' -av {{ raspicam_default_dir | regex_replace('^(.*/).*/$','\\1') }}_sfpg_data/thumb/{{ raspicam_default_dir | regex_replace('^.*/(?=.*/$)','') }} {{ raspicam_offsite_image_copy_ssh_login }}@{{ hostvars[groups['webservers'][0]].groups.webservers[0] }}:/"
* * * * * root /usr/bin/find {{ raspicam_default_dir }} -mmin +15 -delete
0 * * * * root /usr/bin/find {{ raspicam_default_dir | regex_replace('^(.*/).*/$','\\1') }}_sfpg_data/thumb/{{ raspicam_default_dir | regex_replace('^.*/(?=.*/$)','') }} -mmin +60 -delete
{% if raspicam_offsite_image_copy_enable_ftp == True %}
* * * * * root /bin/sleep 20 && lftp -c "open -u {{ raspicam_offsite_image_copy_ftp_upload_user }},{{ raspicam_offsite_image_copy_ftp_upload_password }} {{ raspicam_offsite_image_copy_ftp_ip }}; put -O {{ raspicam_offsite_image_copy_ftp_dest_path }} /run/{{ raspicam_name }}.jpg"
* * * * * root /bin/sleep 40 && killall -9 lftp
*/5 * * * * root /bin/ping -q -c1 {{ raspicam_offsite_image_copy_ftp_ip }}  > /dev/null || reboot
{% endif %}
